#resetbackground-image {
    background-color: white;
}

input[type=password].reset , input[type=text].reset {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 4px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}