.body-signUp {
	background-image: url('./resource/SignUp.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  position: absolute;
	width: 100%;
	z-index: -1;
}

.container-SignUp {
	position: relative;
}

.form-wrapper {
  width: 400px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.form-signUp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  margin-top: -1%;
  margin-bottom: -0.1%;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.nameInput,
.email,
.password,
.username,
.mobileNumber,
.branch,
.confirmPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.nameInput,
.email,
.username,
.mobileNumber,
.branch {
	width: 100%;
}

.password,
.confirmPassword {
	width: 49%;
}

.password {
	margin-right: 1%;
}

.confirmPassword {
	margin-left: 1%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #008CBA;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  cursor: pointer;
}

.createAccount button:hover {
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}